
section{
    font-family: cursive;
}
.sec {
    width: 80%;
    margin: 0 auto;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 1em; /* Space between items */
}

.container .item {
    background-color: beige;
     padding-left: 0.5em; 
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 1.5em; /* Increased font size */
    height: 300px; /* Fixed height (adjust as needed) */
    display: flex;
    gap:1em;
    /* flex-wrap: wrap; */
    align-items:center;
     justify-content:flex-start; 
}
.container  img{
    height: 250px;
    width: 250px;
    border-radius: 5px;
}

.item button{
    background-color: rgb(230, 240, 219);
    border-radius: 10px;
    text-decoration: none;
    border: solid;
    border-style:solid;
    border-width: 0.1px;
    font-family: cursive;
    padding: 5px;
    font-weight: bold;
    font-size: medium;
    transition: 0.3s;
}

.item button:hover{
    background-color: rgb(243, 218, 77);
    transition: 0.3s;
}


/* .itm div {
    
} */

/* Modal */

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    display: flex;
    flex-direction: column;
    background-color: rgb(192, 192, 149);
    padding: 20px;
    border-radius: 5px;
    width: 350px;
    max-width: 80%;
    position: relative;
    height: fit-content;
    
}

.modal-content p{
    overflow: auto;
}
.modal-content form{
    display: flex;
    flex-direction: column;
    gap:1em;
}

.modal-content form label{
    background-color:rgba(61, 38, 38, 0.795) ;
    color: white;
    padding: 5px;
    border-radius: 5px;
    
}

.modal-content form label input[type=text]{
    background-color: rgb(235, 212, 185);
}

.modal-content button{
    background-color: rgba(32, 20, 20, 0.795) ;
    color: white;
    cursor: pointer;
    margin-bottom: 3px;
}
.modal-content button:hover{
    background-color: rgba(85, 61, 61, 0.795) ;
    cursor: pointer;
    transition: 0.3s;
}

.modal-content p{
    font-size: x-large;
}
.close{
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
    width: fit-content;
    border-radius: 250px;
    margin-bottom: 2px;

}
.close:hover{
   background-color: aliceblue;
   transition: 0.3s;
}
